
<div class="w3-center w3-container" id="registration">
  <h2>Registration</h2>
  <div id="regInfo" style="background-color: lightcoral"></div>
  <form  #h="ngForm" novalidate>
    <input type="text" minlength="6" id="regLogin" name="login" placeholder="Login" ngModel required #first="ngModel">
    <br>
    <br>
    <input type="password" minlength="6"  id="regPassword" name="password" placeholder="Password" ngModel required>
    <br>
    <br>
    <input type="password" minlength="6"  id="reRegPassword" name="rePassword" placeholder="Repeat password" ngModel required>
    <br>
    <br>
    <button type="button" id="reg" class="w3-btn w3-small w3-round-xlarge w3-black w3-hover-green" [disabled]="h.invalid && isPasswordWalid" (click)="onRegister(h)">Sign in</button>
  </form>
  <button type="button" id="toReg" style="margin-top: 10px" class="w3-btn w3-small w3-round-xlarge w3-black w3-hover-green" (click)="goToAuth()">Back</button>
</div>
