
<div class="w3-center w3-container" id="registration" style="overflow: auto; padding-bottom: 70px">
  <h2>Registration</h2>
  <div id="regInfo" style="background-color: lightcoral"></div>
  <form  #h="ngForm" novalidate>
    <input type="text" minlength="6" id="regLogin" name="login" placeholder="Login" ngModel required #first="ngModel">
    <br>
    <br>
    <input type="password" minlength="6"  id="regPassword" name="password" placeholder="Password" ngModel required>
    <br>
    <br>
    <input type="password" minlength="6"  id="reRegPassword" name="rePassword" placeholder="Repeat password" ngModel required>
    <br>
    <br>
    <button type="button" id="reg" [disabled]="h.invalid" (click)="onRegister(h)">Sign in</button>
  </form>
  <button type="button" id="toReg" style="margin-top: 10px" (click)="goToAuth()">Back</button>
</div>
